<a href="https://colab.research.google.com/github/SH22Hwang/GNU_AugumentedIntelligenceLab/blob/main/Jeongbogun/4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize

In [ ]:
name_s = pd.Series(['A','B','C','D','E','F','G'])
horsepower_s = pd.Series([130,250,190,300,210,220,170])
weight_s = pd.Series([1900,2600,2200,2900,2400,2300,2100])
efficiency_s = pd.Series([16.3,10.2,11.1,7.1,12.1,13.2,14.2])

df = pd.DataFrame({'name' : name_s, 'horsepower': horsepower_s, 'weight' : weight_s, 'efficiency' : efficiency_s})
df

  name  horsepower  weight  efficiency
0    A         130    1900        16.3
1    B         250    2600        10.2
2    C         190    2200        11.1
3    D         300    2900         7.1
4    E         210    2400        12.1
5    F         220    2300        13.2
6    G         170    2100        14.2

In [ ]:
x = df['weight'].to_numpy()
y = df['efficiency'].to_numpy()
x = x[:, np.newaxis]
print(x)

[[1900]
 [2600]
 [2200]
 [2900]
 [2400]
 [2300]
 [2100]]

In [ ]:
reg = LinearRegression().fit(x,y)
print(reg.coef_)

[-0.00844348]